/*顶部横幅*/

#top-banner {
	width: 100%;
}

#top-banner a {
	display: block;
	width: 100%;
	height: 80px;
	background: url(../img/top-banner.jpg) no-repeat;
	background-size: 100% 80px;
}


/*顶部导航*/

#topnav {
	width: 100%;
	background: #f2f2f2;
}

#topnav .topnav_cont{
	width: 1100px;
	margin: 0 auto;
	font-size: 10px;
	color: dimgray;
	line-height: 30px;
}
#topnav .topnav_cont a {
	color: dimgray;
	height: 26px;
}

#topnav .topnav_cont a:hover {
	color: #d22147;
}

/*欢迎*/
.welcome{
	width: 543px;
	float: left;
}
.welcome li{
	line-height: 26px;
}
.welcome i {
	margin: 0 10px;
	float: left;
	display: block;
	width: 3px;
	height: 26px;
	background: url(../img/fgx.jpg) no-repeat center;
}

.welcome li:nth-last-child(1) a{
	margin-left: 25px;
	background: url(../img/phone.jpg) no-repeat left center;
	padding-left: 10px;
	position: relative;
}

.welcome li:nth-last-child(1):hover .last-img {
	position: absolute;
	left: -24px;
	top: 35px;
	display: block;
	z-index: 100;
}

.last-img {
	display: none;
	width: 100px;
	height: 140px;
}


/*更多*/

.more {
	float: right;
}

.more li:nth-child(1) img {
	width: 7px;
	height: 10px;
	margin-bottom: -2px;
	margin-right: 4px;
}

.more li:nth-child(5):hover a {
	background-color: white;
}

.more li:nth-last-child(5):hover a {
	background-color: white;
}

.more li:nth-child(7):hover a {
	background-color: white;
}

.more li:nth-last-child(1):hover a {
	background-color: white;
}

.more li {
	position: relative;
	line-height: 26px;
	float: left;
	background: url(../img/fgx.jpg) no-repeat right center;
	background-size: 3px 9px;
}

.more li a {
	padding: 0 12px 0 12px;
	display: block;
	height: 26px;
}

.more img {
	margin-bottom: 2px;
	margin-left: 2px;
	transition: all 0.5s;
}

.more li:hover img {
	transform: rotate(180deg);
}
.more li:hover .cont{
	display: block;
}

.more li:nth-of-type(1):hover img {
	transform: none;
}


/*导航下拉列表*/

.cont {
	z-index: 100;
	position: absolute;
	display: none;
	border: 1px solid #F2F2F2;
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
	background: white;
}

.cont a {
	border-right: 1px solid #F2F2F2;
}

.cont a:nth-last-child(1) {
	border-bottom: 1px solid #F2F2F2;
}

.cont1 {
	width: 100px;
}

.cont1 a:nth-child(2),
.cont1 a:nth-child(4),
.cont1 a:nth-child(6) {
	border-bottom: 1px solid #F2F2F2;
}

.cont2 {
	width: 98px;
}

.cont2 a:nth-child(1) {
	background: url(../img/head.jpg) no-repeat 11px center;
	background-size: 11px 12px;
	padding-left: 28px;
}

.cont2 a:nth-child(2) {
	background: url(../img/wenhao.jpg) no-repeat 11px center;
	background-size: 11px 12px;
	padding-left: 28px;
}

.cont3 {
	width: 88px;
}

.cont4 {
	width: 100px;
	right: 0px;
	border-left: 0;
}

.cont4 a {
	border-left: 1px solid #F2F2F2;
}

.cont4 a:nth-child(1),
.cont4 a:nth-child(4),
.cont4 a:nth-child(5) {
	border-bottom: 1px solid #F2F2F2;
}

/*搜索栏*/

#search {
	width: 1100px;
	padding: 25px 0;
	margin: 0 auto;
}
/*商标*/

#search #logo {
	float: left;
	width: 205px;
}

#search #logo img {
	width: 100%;
	height: 40px;
	float: left;
}
/*购物车*/
#search #shop-car{
	width: 138px;
	float: right;
}
#search #shop-car a {
	height: 40px;
	border: 1px solid lightgray;
	float: left;
	border-radius: 5px;
	color: dimgray;
	line-height: 40px;
	background: url(../img/shopcargray.png) no-repeat 34px center;
	background-size: 18px 15px;
	padding-left: 60px;
	padding-right: 40px;
}

#search #shop-car:hover a {
	background-color: #f5f5f5;
}
/*搜索栏*/
#search .search {
	width: 376px;
	border: 2px solid #333;
	border-right: 0;
	position: relative;
	margin: 0 auto;
}

#search .search .sear {
	position: absolute;
	right: -55px;
	top: -2px;
	float: right;
	display: block;
	width: 57px;
	height: 42px;
	margin: 0;
	padding: 0;
	background: #333 url(../img/search.jpg) no-repeat;
	background-size: 57px 42px;
	border-radius: 0 3px 3px 0;
}

#search .search .sear:hover {
	opacity: 0.9;
}

#search .search img {
	padding: 10px;
	float: left;
	width: 12px;
	height: 14px;
	margin-top: 3px;
}

#search .search input {
	width: 334px;
	border: 0;
	height: 38px;
}

#search .search a {
	font-size: 10px;
	margin-right: 10px;
	margin-top: 6px;
	padding-right: 10px;
	float: left;
	color: dimgray;
	background: url(../img/fgx.jpg) no-repeat right center;
	background-size: 2px 8px;
}

#search .search a:hover {
	text-decoration: underline;
}

#search .search a:nth-of-type(2) {
	color: #d22147;
}

#search .search a:nth-last-of-type(1) {
	height: 14px;
	line-height: 18px;
	background: none;
}

#search .search a:nth-last-of-type(3) {
	height: 14px;
	line-height: 18px;
}


/*导航商品展示*/

#mainav {
	width: 100%;
	height: 49px;
	font-size: 12px;
	position: relative;
	border-bottom: 2px solid black;
}

#mainav .first-p {
	margin: 10px 0 0 98px;
	float: left;
	color: white;
	padding: 10px 40px 10px 60px;
	background: url(../img/3杠.jpg) black no-repeat 30px center;
}

#mainav .nav-cont {
	height: 50px;
	margin-left: 244px;
}

#mainav .nav-cont a {
	height: 60px;
	line-height: 60px;
	margin-left: 35px;
	font-weight: bold;
}

#mainav .nav-cont a:hover {
	color: #e41e39;
}

#mainav .nav-cont a:nth-of-type(1) {
	color: #e41e39;
}
