
.area {
	width: 100%;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.js {
	position: relative;
	width: 1167px;
	height: 359px;
	margin: 0 auto;
}
.js .box01{
	width: 100%;
	height: 100%;
}
.js .box01 img{
	width: 1167px;
	height: 359px;
	background: url(../img/loading.gif) 50% no-repeat;
}

.backBtn {
	background: url(../img/back.jpg) no-repeat;
	background-size: 32px 55px;
	width: 32px;
	height: 55px;
	display: block;
	position: absolute;
	top: 150px;
	left: 252px;
}
.nextBtn {
	background: url(../img/right1.jpg) no-repeat;
	background-size: 32px 55px;
	width: 32px;
	height: 55px;
	display: block;
	position: absolute;
	top: 150px;
	right: 110px;
}

.jsNav {
	position: absolute;
	left: 564px;
	top: 281px;
}

.jsNav a {
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 50%;
	font-size: 14px;
	margin-right: 6px;
	display: inline-block;
	/*float: left;*/
	text-align: center;
	color: #fff;
	background: rgba(0,0,0,0.5);
}

.jsNav a:hover {
	text-decoration: none;
	background: red;
}

.jsNav .imgSelected {
	background: red;
}

.qq {
	display: none;
	z-index: 200
}