* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
#banner{
	width: 100%;
	height: 359px;
}
#batch{
	width: 100%;
	height: 359px;
}
.batch_cont {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.batch_cont>.bannerbox {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
#back{
	position: absolute;
	left: 255px;
	top: 145px;
	z-index: 100;
	width: 35px;
	height: 70px;
	background: rgba(0,0,0,0.3);
	background-image: url(../img/back.png);
	background-size: 100%;
}
#next{
	position: absolute;
	right: 200px;
	top: 145px;
	z-index: 100;
	width: 35px;
	height: 70px;
	background: rgba(0,0,0,0.3);
	background-image: url(../img/next.png);
	background-size: 100%;
}
.batch_cont>.bannerbox>.imgbox {
	float: left;
	width: 100%;
	height: 100%;
	background-color: #E3E3E3;
	text-align: center;
	line-height: 300px;
	font-family: "Arial Black";
	color: #979797;
	font-size: 40px;
}
.batch_cont>.bannerbox>.imgbox>img{
	width: 100%;
	height: 100%;
}

.batch_cont>.imgindex {
	position: absolute;
	bottom: 10px;
	margin: 0 auto;
	z-index: 5;
}

.batch_cont>.imgindex>.index {
	background:rgba(0,0,0,0.3);
	width: 24px;
	height: 24px;
	line-height: 24px;
	border-radius: 50%;
	float: left;
	margin: 0px 5px;
	text-align: center;
	color: white;
}

.batch_cont>.imgindex>.active {
	background: #e31436;
}