*{margin: 0;padding: 0;}
body{
	/*background: red;*/
}
i{
	font-style: normal;
}
img{
	display: block;
	border: 0;
}
a{
	text-decoration: none;
}
dl{
	display: block;
	overflow: hidden;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
	overflow: hidden;
	visibility: hidden;
	height: 0;
}
/******** 头部header ********/
#header{
	width: 1440px;
	height: 473px;
	margin: 0 auto;
}
         /*导航nav*/
#header #nav{
	height: 78px;
}
#header #nav .div1{
	margin-left: 188px;
	float: left;
	height: 78px;
	display: inline;
}
#header #nav .div2{
	width:498px;
	height: 78px;
	float: left;
	margin-left: 66px;
	display: inline-block;
	overflow: hidden;
}
#header #nav .div2 ul{
	width:498px;
	height: 78px;
}
#header #nav .div2 ul li{
	height: 78px;
	list-style: none;
	float: left; 
}
#header #nav .div2 a{
	display: inline-block;
	height: 78px;
	background:url(../img/nav.png) no-repeat 0px top;
}
#header #nav .div2 .img1{
	width: 100px;
	background: url(../img/nav-on.png);
}
#header #nav .div2 .img2{
	width: 123px;
	background: url(../img/nav.png) -100px;
}
#header #nav .div2 .img3{
	width: 145px;
	background: url(../img/nav.png) -224px;
}
#header #nav .div2 .img4{
	width: 120px;
	background: url(../img/nav.png) -369px;
}
#header #nav .div2 .img1:hover{
	background: url(../img/nav-on.png);
}
#header #nav .div2 .img2:hover{
	background: url(../img/nav-on.png) -100px;
}
#header #nav .div2 .img3:hover{
	background: url(../img/nav-on.png) -224px;
}
#header #nav .div2 .img4:hover{
	background: url(../img/nav-on.png) -369px;
}
#header #nav .div3{
	width: 200px;
	height: 78px;
	float: left;
	margin-left: 50px;
}
#header #nav .div3 .box1{
	width: 100%;
	height: 20px;
	float: right;
	margin-top: 14px;
}
#header #nav .div3 .box1 a{
	color: black;
	text-decoration: none;
	display: block;
	height: 20px;
	line-height: 20px;
	font-size: 11px;
	float: right;
}
#header #nav .div3 .box1 a span{
	padding: 0 10px;
}
#header #nav .div3 .box2{
	width:184px ;
	height: 22px;
	float: right;
	margin-top: 6px;
	border: 1px solid gainsboro;
}
#header #nav .div3 .box2 .txt{
	border:0;
	height: 22px;
	float: left;
	width: 158px;
}
#header #nav .div3 .box2 .button{
	width: 22px;
	height: 22px;
	border: 0;
	float: right;
	background: url(../img/sh.jpg) no-repeat;
}
#header #nav .div3 .box3{
	width: 174px;
	height: 16px;
	margin-top: 40px;
	border: 1px solid gray;
	position: relative;
	background: white;
}

/******** 横幅banner ********/
#header #banner{
	height: 395px;
}
#header #banner .bx1{
	width: 1440px;
	height: 356px;
	position: relative;
	/*overflow: hidden;*/
	background: green;
}
#header #banner .bx1 li{
	list-style: none;
}
#header #banner .bx1 li img{
	width: 1440px;
	height: 356px;
	display: inline-block;
}
#header #banner .bx1 .u1{
	width: 1440px;
	height: 356px;
	list-style: none;
	overflow: hidden;
}
#header #banner .bx1 .two{
	width: 156px;
	height: 42px;
	position: absolute;
	right: 170px;
	bottom: 0px;
}
#header #banner .bx1 .u2 li{
	list-style: none;
	float: left; 
}
#header #banner .bx1 .u2 a{
	margin-left:10px;
	color: red;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	border: 2px solid red;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: rgba(0,0,0,0.5);
	font-size: 18px;
}
#header #banner .bx1 .u2 a:hover{
	border-color: blue;
	color: blue;
}
#header #banner .bx1 .u2 a span{
	display: inline-block;
	width: 0px;
	height: 100%;
	background: red;
	vertical-align: middle;
}
#header #banner .bx2{
	width: 1440px;
	height: 39px;
}
#header #banner .bx2 a{
	display: block;
	width: 42px;
	height: 39px;
	float: left;
	background: url(../img/button.jpg) no-repeat center bottom;
}
#header #banner .bx2 .view1{
	width: 506px;
	height: 39px;
	float: left;
	margin-left: 205px;
	display: inline;
}
#header #banner .bx2 .view1 img{
	margin-top: 9px;
	float: left;
}
#header #banner .bx2 .view1 p{
	font-size: 12px;
	float: left;
	margin-top:13px;
	margin-left: 10px;
}

/******** 主体main ********/
#main{
	width: 1440px;
	height: 1615px;
	margin: 0 auto;
	background:#d6dae2;
}
#main #bigbox{
	width: 1066px;
	float: left;
	margin: 21px 10px 0px 188px;
	display: inline;
}
#main #bigbox .box1{
	width: 780px;
	height: 352px;
	background:#f2f1ef;
	float: left;
}
#main #bigbox .box1 .case{
	float: left;
	width: 224px;
	height: 272px;
	margin-left: 20px;
	display: inline;
}
#main #bigbox .box1 .case dl dt{
	width: 224px;
	height: 160px;
}
#main #bigbox .box1 .case dl dt a{
	background: url(../img/tu1.jpg);
	display: block;
	height: 100%;
}
#main #bigbox .box1 .case dd{
	width: 204px;
	height: 82px;
	background: white;
	padding: 16px 10px 14px;
}
#main #bigbox .box1 .case dl dd a{
	color: black;
	text-decoration: none;
	font-size: 13px;
}
#main #bigbox .box1 .case dl dd .p2 a{
	color: #888888;
	height: 20px;
	line-height: 20px;
}
#main #bigbox .case1{
	width: 780px;
	height: 60px;
	font-size: 16px;
}
#main #bigbox .case1 img{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	display: inline;
}
#main #bigbox .case1 h3{
	float: left;
	line-height: 60px;
	margin-left: 10px;
	font-size: 20px;
}
#main #bigbox .case1 a{
	float: right;
	color: black;
	height: 60px;
	line-height: 60px;
	text-decoration: none;
	margin-right: 20px;
}
#main #bigbox .box1 .case2 dt{
	border-bottom: 3px solid #1fc0ef;
}
#main #bigbox .box1 .case3 dt{
	border-bottom: 3px solid #f6a544;
}
#main #bigbox .box1 .case3{
	float: left;
	width: 224px;
	height: 272px;
	margin-left: 34px;
	margin-right: 14px;
}
#main #bigbox .box1 .case4 dt{
	border-bottom: 3px solid #8cbe00;
}
#main #bigbox .box2{
	width: 266px;
	float: right;
}
#main #bigbox .box2 .count1{
	width: 266px;
	height: 60px;
	background: white;
	overflow: hidden;
}
#main #bigbox .box2 .count1 .info1{
	margin:20px 0 20px 20px;
	height: 30px;
	overflow: hidden;
}
#main #bigbox .box2 .count1 .info1 h3{
	width: 206px;
	height: 25px;
	margin-left: 10px;
	line-height: 25px;
	font-size: 20px;
	float: left;
}
#main #bigbox .box2 .count1 .info1 img{
	float: left;
	margin-top: 3px;
}
#main #bigbox .box2 .count2{
	width: 266px;
	height: 50px;
	background: white;
}
#main #bigbox .box2 .count2 a{
	float: left;
	color: black;
	display: inline;
	width: 108px;
	height: 34px;
	line-height: 34px;
	text-decoration: none;
	text-align: center;
	font-size: 12px;
}
#main #bigbox .box2 .count2 .a1{
	margin-left: 20px;
	color: gray;
	border: 2px solid gainsboro;
	border-bottom: none;
}
#main #bigbox .box2 .count2 .a2{
	color: gray;
	border-bottom: 2px solid gainsboro;
	border-left: none;
}
#main #bigbox .box2 .count2 .a1:hover{
	color: black;
}
#main #bigbox .box2 .count2 .a2:hover{
	color: black;
}
#main #bigbox .box2 .list{
	width: 266px;
	height: 752px;
	overflow: hidden;
	background: red;
	position: relative;
}
#main #bigbox .box2 .list dl dt{
	background: url(../img/1820.jpg) no-repeat center;
	width: 18px;
	float: left;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: white;
	font-size: 11px;
}
#main #bigbox .box2 .list dl dd{
	float: left;
}
#main #bigbox .box2 .lt1{
	width: 266px;
	background: white;
	line-height:0px ;
	font-size:0px;
	float: left;
}
#main #bigbox .box2 .lt1 .last{
	margin: 0 20px;
}
#main #bigbox .box2 .lt1 p{
	margin:0 20px 20px;
	position: relative;
	overflow: hidden;
	height: 160px;
}
#main #bigbox .box2 .lt1 p a{
	display: block;
	color: white;
}
#main #bigbox .box2 .list .lt1 p i{
	background: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 26px;
	line-height: 26px;
	font-size: 11px;
}
#main #bigbox .box2 .lt2{
	width: 266px;
	background: white;
	padding: 10px 0;
	float: left;
	border-bottom: 2px solid gainsboro;
}
#main #bigbox .box2 .lt2 dl{
	margin-left: 20px;
	width: 226px;
	height: 30px;
}
#main #bigbox .box2 .lt2 a{
	color: black;
	text-decoration: none;
	float: left;
	line-height: 30px;
	font-size:12px;
	margin-left: 11px;
}
#main #bigbox .box2 .lt2 img{
	float: left;
	margin-top: 6px;
}
#main #bigbox .box2 p i span{
	width: 20px;
	height: 100%;
	height: 26px;
	background: #e2291c;
	display: inline-block;
	text-align: center;
	margin-right: 10px;
}
#main #bigbox .box2 p i .sp1{
	background: orange;
}
#main #bigbox .box2 p i .sp2{
	background: orchid;
}
#main #bigbox .box2 .ct1{
	width: 266px;
	height: 204px;
	background: white;
	text-align: center;
}
#main #bigbox .box2 .ct1 .img1{
	padding-top: 17px;
	display: inline-block;
	
}
#main #bigbox .box2 .ct1 .img2{
	margin-top: 42px;
	margin-left: 34px;
}
#main #bigbox .box2 .ct2{
	width: 226px;
	height: 193px;
	padding: 0 20px;
	background: white;
	border-bottom: 2px solid gainsboro;
}
#main #bigbox .box2 .ct2 p{
	font-size: 12px;
	height: 24px;
	line-height: 24px;
}
#main #bigbox .box2 .ct2 h3{
	font-size: 17px;
	height: 35px;
	line-height: 35px;
}
#main #bigbox .box2 .ct3{
	width: 216px;
	background: white;
	padding: 10px 30px 0 20px;
}
#main #bigbox .box2 .ct3 img{
	float: left;
	margin-top: 12px;
}
#main #bigbox .box2 .ct3 h3{
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	margin-left:30px;
}
#main #bigbox .box2 .ct3 p{
	font-size: 12px;
	line-height: 24px;
}

#main #bigbox .box3{
	width: 780px;
	background: #f2f1ef;
	margin: 20px 0;
	float: left;
}
#main #bigbox .box3 .view{
	width: 740px;
	height: 126px;
	margin: 20px 20px;
	overflow: hidden;
}
#main #bigbox .box3 .view2{
	margin: 0 20px 20px;
	background: url(../img/@.jpg) no-repeat white right top;
}
#main #bigbox .box3 .view3{
	background: url(../img/105.jpg) no-repeat white right top;
}
#main #bigbox .box3 .view4{
	background: url(../img/100.jpg) no-repeat white right top;
}
#main #bigbox .box3 .view dt{
	width: 86px;
	height: 86px;
	margin: 20px;
	float:left;
	background: red;
	display: inline;
}
#main #bigbox .box3 .view dd{
	width: 506px;
	height: 86px;
	float: right;
	margin: 20px 0;
	padding-right: 108px;
}
#main #bigbox .box3 .view dd h2{
	float: left;
	width: 100%;
	height: 18px;
	line-height: 20px;
	font-size: 15px;
}
#main #bigbox .box3 .view dd h2 a{
	color: black;
	text-decoration: none;
}
#main #bigbox .box3 .view dd p{
	line-height: 21px;
	float: left;
	width: 100%;
}
#main #bigbox .box3 .view dd .info1{
	font-size: 9px;
	color: #888;
	width: 491px;
	padding-left: 15px;
	display: inline;
	background: url(../img/1212.jpg) no-repeat left center;
}
#main #bigbox .box3 .view dd .info2{
	font-size: 12px;	
}
/***************************/
#main #bigbox .box4{
	width: 780px;
	background: #f2f1ef;
	float: left;
	padding: 0 0 39px;
}
#main #bigbox .box4 span{
	width: 706px;
	height: 1px;
	margin: 20px 0 20px 20px;
	display:inline;
	float: left;
	overflow: hidden;
	background: url(../img/1.jpg) repeat-x;
}
#main #bigbox .box4 .info2{
	width: 740px;
	height: 160px;
	margin: 0 20px;
	overflow: hidden;
	float: left;
	display: inline;
}
#main #bigbox .box4 .info2 dt{
	width: 227px;
	height: 160px;
	margin-bottom: 20px;
	float:left;
}
#main #bigbox .box4 .info2 dd{
	width: 459px;
	float: right;
	margin-left: 0px;
	padding-right: 34px;
}
#main #bigbox .box4 .info2 dd h2{
	float: left;
	width: 100%;
	line-height: 24px;
	font-size: 16px;
}
#main #bigbox .box4 .info2 dd h2 a{
	color: black;
	text-decoration: none;
}
#main #bigbox .box4 .info2 dd .view1{
	font-size: 9px;
	width: 444px;
	line-height: 28px;
	color: #888;
	float: left;
	padding-left: 15px;
	background: url(../img/144.jpg) no-repeat left center;
}
#main #bigbox .box4 .info2 dd .view2{
	font-size: 13px;
	width: 100%;
	float: left;
	line-height: 23px;	
	margin: 30px 0 0;
}
/***************************/
#main #code{
	width: 121px;
	height: 165px;
	background:white;
	float: left;
	display: inline-block;
	margin-top: 21px;
	margin-right: 55px;
	font-size: 12px;
}
#main #code p{
	margin-top: 7px;
	margin-left: 10px;
}
#main #code span img{
	margin-top: 7px;
	margin-left: 8px;
}
#main i{
	float: left;
	width: 360px;
	height: 2px;
	overflow: hidden;	
}
#main .sb1{
	background: #1fc0ef;
}
#main .sb2{
	background: #f6a544;
}
#main .sb3{
	background: #8cbe00;
}
#main .sb4{
	background: #ff6c00;
}
/******** 尾部footer ********/
#footer{
	width: 1440px;
	height: 312px;
	background: #f6f6f6;
	margin: 0 auto;
}
#footer .box1{
	width: 727px;
	height: 312px;
	float: left;
	margin-left: 207px;
	margin-right: 71px;
	display: inline;
}
#footer .box1 img{
	margin-top: 15px;
	margin-right: 30px;
	margin-left: 17px;
	float:left;
	width: 74px;
	height: 24px;
	display: inline;
}
#footer .box1 a{
	color: black;
	text-decoration: none;
	font-size: 12px;
}
#footer .box1 dt{
	font-size: 12px;
	margin-top: 34px;
}
#footer .box1 dd{
	height: 80px;
}
#footer .box1 dd .last{
	line-height: 30px;
	float: left;
	margin-top: 15px;
	margin-left: 17px;
}
#footer .box1 .list dd a{
	font-size: 12px;
	float: left;
	margin: 12px 17px 0 13px;
	color: #3f3f3f;
	display: inline-block;
	height: 16px;
}
#footer .box1 .list dd .last-second{
	width: 91px;
}
#footer .box2{
	width: 435px;
	height: 312px;
	float: left;
}
#footer .box2 dt{
	color: #3f3f3f;
	font-size: 12px;
	margin-top: 34px;
}
#footer .box2 dd{
	height: 40px;
}
#footer .box2 img{
	margin-top: 13px;
	margin-left: 10px;
	float:left;
}
#footer .box2 a{
	color: #3f3f3f;
	text-decoration: none;
	font-size: 12px;
	line-height: 45px;
}

#about{
	width: 1440px;
	height: 102px;
	background: #bababa;
	margin: 0 auto;
	overflow: hidden;
}
#about p{
	text-align: center;
	font-size: 11px;
	line-height: 25px;
}
#about .a1{
	margin-top: 30px;
}

















