#main .main-cont{
	/*width: 1440px;*/
	width: 100%;
	margin: 0 auto;
	min-height: 800px;
	height: auto !important;
	height: 800px; 
}
#main .main-cont .content{
	width: 1140px;
	padding: 54px 0 60px;
	margin: 0 auto;
}
#main .main-cont .content p{
	line-height: 30px;
	text-indent: 12px;
	margin-bottom: 28px;
}
