<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<title>一个页面中有多个ng-app模块的情况</title>
	<script src="lib/angular-1.3.0.js"></script>
</head>
<body>  <!--有多个ng-app的情况下 注意不能嵌套-->
     <div ng-app="myApp" ng-controller="myController" id ="app1">
          <input type="text" ng-model="name" placeholder="your name">
        
          <h1>hello {{name}}</h1>  
         
     </div>  
     <hr>
    <div ng-app="itApp" ng-controller="myController" id="app2">
          
          <input type="text" ng-model="age" placeholder="your age">
          <h1>hello {{name}}</h1>  
          <h2>年龄:{{age}}</h2>
     </div>  
     <script>
      //页面中有多个ng-app时，在页面初始化时，要指定应用程序执行的顺序  
         var myApp=angular.module("myApp",[]);
         myApp.controller("myController",function($scope){
                  $scope.name="李四";   
                
         });


         var itApp=angular.module("itApp",['myApp']);
         itApp.controller("myController",function($scope){
                    
                  $scope.age="100";
               
         });
         //通过这个方式;指定那个模块先执行
            angular.element(document).ready(function() {
                         angular.bootstrap(app2, ['itApp']);//第一个参数是模块的id 第二个参数是模块的名称
                   });
     </script>
<!-- 
    实例讲解
         

-->

</body>
</html>