<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<title>一个模块中有多个作用域</title>
	<script src="lib/angular-1.3.0.js"></script>
</head>
<body ng-app="myApp" >
    <!-- 第一个控制器 -->
     <div ng-controller="contro1" >
          <input type="text" ng-model="n1" placeholder="your name">
          <h1> {{n1}}</h1>

     </div>

     <hr>
     <!-- 第二个控制器 -->
     <div ng-controller="contro2" >
          <input type="text" ng-model="n2" placeholder="your name">
          <h1>{{n2}}</h1>
     </div>


     <script>
     var myApp=angular.module("myApp",[]);
     myApp.controller("contro1",function($scope){
          $scope.n1="第一个控制器";     
     })
    myApp.controller("contro2",function($scope){
          $scope.n2="第二个控制器";     
     })
     </script>
<!-- 
    实例讲解
		   
          第一个作用域中不能使用第二作用域$scope对象的数据


-->

</body>
</html>